<zf-offcanvas position="right" id="menu" class="detached">
  <div class="background"></div>
  <div id="menu-switch"
       ng-switch on="main.usC.isOwner.toString()">
    <div id="add-menu" ng-switch-when="false" class="dark card">
      <form>
        <img ng-src="{{main.selected.pt}}">
        <div class="card-divider">
          <section class="block-list mar-b-0">
            <header>Denumire</header>
            <ul>
              <li><input class="isu-input all" type="text" ng-disabled="main.selected.sf < 4" placeholder="..." ng-model="main.selected.nm" class="mar-0"></li>
            </ul>
          </section>
        </div>
        <div class="card-section">
          <section class="block-list mar-b-0">
            <header>Adresa</header>
            <ul>
              <li><input class="isu-input all" type="text" ng-disabled="main.selected.sf < 4" placeholder="Localitate" ng-model="main.selected.ad.ct"></li>
              <li>
                <div class="grid-block">
                  <div class="small-8 medium-8">
                    <input class="isu-input l-b" type="text" ng-disabled="main.selected.sf < 4" placeholder="..." ng-model="main.selected.ad.st">
                  </div>
                  <div class="small-4 medium-4">
                    <input class="isu-input r-b" type="text" ng-disabled="main.selected.sf < 4" placeholder="..." ng-model="main.selected.ad.nr">
                  </div>
                </div>
              </li>
            </ul>
          </section>
          <section class="block-list">
            <header>Tip Locatie</header>
            <ul>
              <li class="with-dropdown">
                <select class="isu-input all" ng-disabled="main.selected.sf < 4" ng-model="main.selected.tp">
                  <option ng-repeat="option in main.options" value="{{option.value}}">{{option.text}}</option>
                </select>
              </li>
            </ul>
          </section>
          <section class="block-list" ng-if="main.selected.sf > 1">
            <ul>
              <li>
                <input id="checkbox1" ng-model="main.selected.isOwner" type="checkbox">
                <label class="isu-input all" for="checkbox1">Sunt administratorul acestui loc.</label>
              </li>
            </ul>
          </section>
          <section class="block-list mar-b-0 isu-input btm-btns">
            <ul>
              <li>
                <div class="align-justify grid-block mar-0">
                  <div class="small-4 grid-block">
                    <a class="alert button expand mar-0" href="" ng-click="main.giveUp()">Renunta</a>
                  </div>
                  <div class="small-6 grid-block">
                    <a class="success button expand mar-0" href="" ng-click="main.goOn()">{{(main.selected.isOwner) ? "Continua" : (main.selected.sf == 4) ? "Adauga" : "OK"}}</a>
                  </div>
                </div>
              </li>
            </ul>
          </section>
        </div>
      </form>
    </div>
    <div id="owner-menu" ng-switch-when="true" class="dark card">
      <form>
        <div class="card-section">
          <section class="block-list">
            <header>Datele firmei</header>
            <ul>
              <li><input class="isu-input all" type="text" placeholder="Denumire" ng-model="main.selected.frm.dn"></li>
              <li>
                <div class="grid-block">
                  <div class="small-6 medium-6">
                    <input class="isu-input l-b" type="text" placeholder="Telefon" ng-model="main.selected.frm.tf">
                  </div>
                  <div class="small-6 medium-6">
                    <input class="isu-input r-b" type="text" placeholder="Email" ng-model="main.selected.frm.ae">
                  </div>
                </div>
              </li>
              <li>
                <div class="grid-block">
                  <div class="small-6 medium-6">
                    <input class="isu-input l-b" type="text" placeholder="CUI" ng-model="main.selected.frm.cui">
                  </div>
                  <div class="small-6 medium-6">
                    <input class="isu-input r-b" type="text" placeholder="Nr Reg Com" ng-model="main.selected.frm.nrc">
                  </div>
                </div>
              </li>
              <li>
                <div class="grid-block">
                  <div class="small-6 medium-6">
                    <input class="isu-input l-b" type="text" placeholder="Website" ng-model="main.selected.frm.wb">
                  </div>
                  <div class="small-6 medium-6">
                    <input class="isu-input r-b" type="text" placeholder="Facebook" ng-model="main.selected.frm.fb">
                  </div>
                </div>
              </li>
            </ul>
          </section>
          <section class="block-list mar-b-0">
            <header>Autorizatie ISU</header>
            <ul>
              <li>
                <div class="grid-block">
                  <div class="small-6 medium-6">
                    <input class="isu-input l-b" type="text" placeholder="Numar autorizatie" ng-model="main.selected.frm.at.nr">
                  </div>
                  <div class="small-6 medium-6">
                    <input class="isu-input r-b" type="text" placeholder="Data obtinerii" ng-model="main.selected.frm.at.dt">
                  </div>
                </div>
              </li>
              <li></li>
            </ul>
          </section>
          <section class="block-list mar-b-0">
            <a class="grid-block upload-btn" ngf-select ng-model="main.files" ngf-multiple="true" ngf-allow-dir="true"
               accept="application/pdf" ngf-pattern="'application/pdf'">Incarca Autorizatie</a>
          </section>
          <section class="block-list mar-b-0 isu-input btm-btns">
            <ul>
              <li>
                <div class="align-justify grid-block mar-0">
                  <div class="small-4 grid-block">
                    <a class="primary expand button  mar-0" href="" ng-click="main.goBack()">Inapoi</a>
                  </div>
                  <div class="small-6 grid-block">
                    <a class="success button expand mar-0" href="" ng-click="main.goOn()">Trimite</a>
                  </div>
                </div>
              </li>
            </ul>
          </section>
        </div>
      </form>
    </div>
  </div>
</zf-offcanvas>
<div class="grid-frame">
  <ng-map center="current-location" street-view-control="false" map-type-control="false"
          styles="[{featureType:'poi', stylers: [{visibility:'off'}]}]"
          rotate-control="true">
    <marker ng-repeat="cm in main.markers | filter: {status: main.selStatus}" on-click="main.selectAsset()"
            list-index="{{cm.listIndex}}" position="{{cm.address}}" icon="{{cm.icon}}" map-icon-label='<span class="map-icon {{cm.class}}"></span>'>
    </marker>
  </ng-map>
  <input id="search-bar" type="text" placeholder="Cauta..." places-auto-complete needs-click
         ng-model="main.address" component-restrictions="{country:'ro'}" types="['establishment']" on-place-changed="main.placeChanged()">
  <div class="button primary" id="tempFilters" zf-toggle="mainFilters">Filtre</div>
  <div zf-action-sheet="" id="user-btn" ng-click="main.userBtn($event)">
    <div class="isu-button" zf-as-button=""><i class="map-icon-isu-user"></i></div>
    <div zf-as-content="" position="bottom" ng-if="main.usC.isLogged">
      <p>Detalii cont</p>
      <ul>
        <li ng-if="main.usC.isAdmin">
          <a class="button primary expand mar-0" href="#!/Admin">
            {{(main.usC.isAdmin) ? "Admin Panel" : "Nu sunteti administrator"}}
          </a>
        </li>
        <li>
          <a class="button primary expand mar-0" href="">
            Schimbare Parola
          </a>
        </li>
        <li>
          <a class="button alert expand mar-0" ng-click="main.logout($event)" href="">
            Iesire
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div id="Reclama">
    <div class="grid-block small-5">
      O initiativa ROA Grup
    </div>
    <div class="grid-block small-5">
      www.roa-grup.ro
    </div>
    <div class="grid-block small-5">
      Powered by Terra GIS Project
    </div>
  </div>

</div>
<div zf-panel="" id="mainFilters" position="left">
  <div class="button expand grid-block" ng-click="main.selStatus = ''">Toate</div>
  <div class="button expand grid-block" ng-click="main.selStatus = 3">Recente</div>
  <div class="button expand grid-block" ng-click="main.selStatus = 2">Nesigure</div>
  <div class="button expand grid-block" ng-click="main.selStatus = 1">In Asteptare</div>
  <div class="button expand grid-block" ng-click="main.selStatus = 0">Sigure</div>

  <div class="button expand grid-block" style="position: absolute; bottom: 0" zf-toggle="mainFilters">Inchide</div>

</div>
