<div class="grid-frame dark card align-center">
  <form>
    <div class="card-divider">
      <section class="block-list mar-b-0">
        <header>Denumire</header>
        <ul>
          <li><input class="isu-input all" type="text" ng-disabled="asset.sf < 4" placeholder="..." ng-model="asset.nm" class="mar-0"></li>
        </ul>
      </section>
    </div>
    <div class="card-section">
      <section class="block-list mar-b-0">
        <header>Adresa</header>
        <ul>
          <li><input class="isu-input all" type="text" ng-disabled="asset.sf < 4" placeholder="Localitate" ng-model="asset.ad.ct"></li>
          <li>
            <div class="grid-block">
              <div class="small-8 medium-8">
                <input class="isu-input l-b" type="text" ng-disabled="asset.sf < 4" placeholder="..." ng-model="asset.ad.st">
              </div>
              <div class="small-4 medium-4">
                <input class="isu-input r-b" type="text" ng-disabled="asset.sf < 4" placeholder="..." ng-model="asset.ad.nr">
              </div>
            </div>
          </li>
        </ul>
      </section>
      <section class="block-list">
        <header>Tip Locatie</header>
        <ul>
          <li class="with-dropdown">
            <input class="isu-input all" ng-model="asset.tp">
            <!--<select class="isu-input all" ng-disabled="asset.sf < 4" ng-model="asset.tp">-->
            <!--<option ng-repeat="option in main.options" value="{{option.value}}">{{option.text}}</option>-->
            <!--</select>-->
          </li>
        </ul>
      </section>
      <section class="block-list mar-b-0 isu-input btm-btns">
        <ul class="mar-b-0">
          <li>
            <div class="align-justify grid-block mar-0">
              <div class="small-4 grid-block">
                <a class="primary button expand mar-0" href="" zf-close="">Renunta</a>
              </div>
              <div class="small-4 grid-block">
                <a class="alert button expand mar-0" href="" ng-click="markAs(2)">Nesigur</a>
              </div>
              <div class="small-4 grid-block">
                <a class="success button expand mar-0" href="" ng-click="markAs(0)">Sigur</a>
              </div>
            </div>
          </li>
        </ul>
      </section>
    </div>
  </form>
</div>
