<div zf-tabs="" id="loginModal">
  <div zf-tab="" title="Logare">
    <div class="inputs">
      <section class="block-list mar-b-0">
        <header>Nume utilizator</header>
        <ul class="mar-b-0">
          <li><input class="isu-input all" type="text" placeholder="..." ng-model="$parent.user.un" class="mar-0"></li>
        </ul>
      </section>
      <section class="block-list mar-b-5">
        <header>Parola</header>
        <ul>
          <li><input class="isu-input all" type="password" placeholder="..." ng-model="$parent.user.pw" class="mar-0"></li>
        </ul>
      </section>
    </div>
    <section class="block-list mar-b-0 isu-input btm-btns">
      <ul class="mar-b-0">
        <li>
          <div class="align-justify grid-block mar-0">
            <div class="small-4 grid-block">
              <a class="alert button expand mar-0" href="" zf-close="">Renunta</a>
            </div>
            <div class="small-6 grid-block">
              <a class="success button expand mar-0" href="" ng-click="$parent.action('login')">Autentificare</a>
            </div>
          </div>
        </li>
      </ul>
    </section>
  </div>
  <div zf-tab="" title="Inregistrare">
    <div class="inputs">
      <section class="block-list mar-b-0">
        <header>Nume</header>
        <ul>
          <li><input class="isu-input all" type="text" placeholder="..." ng-model="$parent.user.nm" class="mar-0"></li>
        </ul>
      </section>
      <section class="block-list mar-b-0">
        <header>Username</header>
        <ul class="mar-b-0">
          <li><input class="isu-input all" type="text" placeholder="..." ng-model="$parent.user.un" class="mar-0"></li>
        </ul>
      </section>
      <section class="block-list mar-b-0">
        <header>Parola</header>
        <ul>
          <li><input class="isu-input all" type="password" placeholder="..." ng-model="$parent.user.pw" class="mar-0"></li>
        </ul>
      </section>
      <section class="block-list mar-b-0">
        <header>Adresa email</header>
        <ul class="mar-b-0">
          <li><input class="isu-input all" type="text" placeholder="..." ng-model="$parent.user.ae" class="mar-0"></li>
        </ul>
      </section>
      <section class="block-list mar-b-5">
        <header>Numar de telefon</header>
        <ul class="mar-b-0">
          <li><input class="isu-input all" type="text" placeholder="(optional)" ng-model="$parent.user.nr" class="mar-0"></li>
        </ul>
      </section>
    </div>
    <section class="block-list mar-b-0 isu-input btm-btns">
      <ul class="mar-b-0">
        <li>
          <div class="align-justify grid-block mar-0">
            <div class="small-4 grid-block">
              <a class="alert button expand mar-0" href="" zf-close="">Renunta</a>
            </div>
            <div class="small-6 grid-block">
              <a class="success button expand mar-0" href="" ng-click="$parent.action('register')">Inregistrare</a>
            </div>
          </div>
        </li>
      </ul>
    </section>
  </div>
</div>
