@font-face {
    font-family: Montserrat;
    src: url("fonts/Montserrat-Regular.otf");
}
@font-face {
    font-family: Montserrat;
    font-weight: bold;
    src: url("fonts/Montserrat-Bold.otf");
}

html, body, [ng-view] {
    font-family: 'Montserrat';
    padding: 0;
    overflow: hidden;
    width: 21cm;
    height: 29.7cm;
    display: block;
    margin: 0 auto;
}
body .sus {
    position: relative;
    height: 35%;
    padding: 1rem 4rem 0;
    background: rgb(240, 244, 247);
}
body .sus .pane {
    width: 100%;
}
.pane.details {
    height: 25%;
    display: -webkit-box;
    position: relative;
}
.pane.logo {
    height: 20%;
    padding: 1% 1rem;
}
.pane.logo img {
    height: 100%;
}
.pane.firms {
    height: 50%;
    display: -webkit-box;
    position: relative;
}
.sus .float {
    width: 3%;
    position: absolute;
    left: 0;
    height: 1px;
    background: rgb(48, 55, 64);
}
.sus .float.top {
    top: 28%;
}
.sus .float.btm {
    top: 72%;
}
.pane.firms .furnizor, .pane.firms .cumparator {
    padding-top: 1rem;
    width: 50%;
}
.pane.firms div .head {
    padding-bottom: 0.5rem;
    width: 100%;
    font-size: 1rem;
    color: #aaa;
}
.pane.firms .cumparator .head {
    text-align: right;
}
.pane.firms div p small{
    color: #999;
    padding-right: 0.5em;
    float: left;
    width: 40%;
    text-align: left;
}
.pane.firms div p {
    font-size: 7px;
    font-weight: bold;
    color: rgb(48, 55, 64);
    margin: 0;
    width: 70%;
    text-align: right;
}
.pane.firms .cumparator p {
    margin-left: 30%;
}
.pane.details .left{
    width: 55%;
}
.pane.details .right {
    background: rgb(48, 55, 64);
    color: whitesmoke;
    position: relative;
    width: 45%;
    height: 100%;
}
.pane.details .right .total {
    position: absolute;
    top: 0.5em;
    left: 1em;
    font-size: 14px;
}
.pane.details .right .worth {
    position: absolute;
    right: 0.5em;
    bottom: 0;
    font-size: 2rem;
}
.pane.details div p {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(48, 55, 64);
    margin: 0;
    text-align: left;
    padding: 0.25em 1em;
}
.pane.details div .title {
    font-size: 1.25em;
}
.pane.details div p small {
    margin-top: 1px;
    color: #999;
    padding: 0 1.25em;
}
body .table {
    height: 45%;
}
body .table .tab {
    height: 3rem;
    padding: 0 4rem;
    background: rgb(241, 244, 247);
    display: -webkit-box;
}
body .table .tab div {
    font-size: 12px;
    padding: 1rem 0;
    height: 100%;
    text-align: center;
}
body .table .tab div:first-child {
    text-align: left;
    border-left: none;
}
body .table .tab div:last-child, .jos .prod-row div {
    text-align: right;
}
body .table .prod-row {
    padding: 1rem 4rem;
    display: -webkit-box;
    border-bottom: 1px dotted #ccc;
    font-size: 10px;
}
body .table .prod-row .name {
    width: 55%;
    text-align: left;
}
body .table .prod-row .name p {
    margin: 0;
}
body .table .prod-row div:last-child {
    text-align: right;
}
body .table .prod-row .name .title {
    color: rgb(48, 55, 64);
}
body .table .prod-row .name .desc {
    font-size: 7px;
    color: #aaa;
}
.jos {
    height: 20%;
}
.jos .foot {
    margin: 2rem 4rem;
    display: -webkit-box;
    height: 5rem;
    position: relative;
}
.jos .disclaimer {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    bottom: -2rem;
    position: absolute;
    width: 100%;
    color: #aaa;
    font-size: 8px;
    left: 1rem;
}
.jos .foot div {
    height: 100%;
}
.jos .foot .left {
    background: rgb(241, 244, 247);
    width: 65%;
    position: relative;
}
.jos .foot .sign {
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    width: 50%;
    font-size: 8px;
    color: rgb(48, 55, 64);
}
.jos .foot .right {
    background: rgb(48, 55, 64);
    width: 35%;
    position: relative;
    color: rgb(241, 244, 247);
}
.jos .foot .right .total {
    position: absolute;
    top: 0.5em;
    right: 1em;
    font-size: 12px;
}
.jos .foot .right .worth {
    position: absolute;
    right: 0.5em;
    bottom: 0;
    font-size: 1.5rem;
}
.jos .dets {
    margin: 0 4rem;
    border-top: 1px dotted rgb(78, 85, 94);
    display: -webkit-box;
    padding: 5px 0;
    position: relative;
}
.jos .dets .l {
    width: 30%;
    height: 100%;
    font-size: 9px;
    color:rgb(48, 55, 64);
}
.jos .dets .m {
    width: 45%;
    height: 100%;
    font-size: 9px;
    color: rgb(88, 95, 104)
}
.jos .dets p {
    margin: 0;
}
.jos .dets img {
    max-width: 8rem;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
