<div class="sus">
  <div class="pane logo">
    <img src="images/logo.png">
  </div>
  <div class="pane firms">
    <div class="furnizor">
      <div class="head">
        {{f.int8n.furnizor}}
      </div>
      <p><small>{{f.int8n.name}}</small>{{f.bill.seller.name}}</p>
      <p><small>{{f.int8n.cif}}</small>{{f.bill.seller.cif}}</p>
      <p><small>{{f.int8n.orc}}</small>{{f.bill.seller.orc}}</p>
      <p><small>{{f.int8n.sediu}}</small>{{f.bill.seller.address}}</p>
      <p><small>{{f.int8n.oras}}</small>{{f.bill.seller.city}}</p>
      <p><small>{{f.int8n.judet}}</small>{{f.bill.seller.region}}</p>
      <p><small>{{f.int8n.tara}}</small>{{f.bill.seller.country}}</p>
      <p><small>{{f.int8n.banca}}</small>{{f.bill.seller.bank}}</p>
      <p><small>{{f.int8n.cont}}</small>{{f.bill.seller.bankAccount}}</p>
    </div>
    <div class="cumparator">
      <div class="head">
        {{f.int8n.cumparator}}
      </div>
      <p><small>{{f.int8n.name}}</small>{{f.bill.buyer.name}}</p>
      <p><small ng-if="f.bill.buyer.cif">{{f.int8n.cif}}</small>{{f.bill.buyer.cif}}</p>
      <p><small ng-if="f.bill.buyer.orc">{{f.int8n.orc}}</small>{{f.bill.buyer.orc}}</p>
      <p><small ng-if="f.bill.buyer.address">{{f.int8n.sediu}}</small>{{f.bill.buyer.address}}</p>
      <p><small ng-if="f.bill.buyer.city">{{f.int8n.oras}}</small>{{f.bill.buyer.city}}</p>
      <p><small ng-if="f.bill.buyer.region">{{f.int8n.judet}}</small>{{f.bill.buyer.region}}</p>
      <p><small ng-if="f.bill.buyer.country">{{f.int8n.tara}}</small>{{f.bill.buyer.country}}</p>
      <p><small ng-if="f.bill.buyer.bank">{{f.int8n.banca}}</small>{{f.bill.buyer.bank}}</p>
      <p><small ng-if="f.bill.buyer.bankAccount">{{f.int8n.cont}}</small>{{f.bill.buyer.bankAccount}}</p>
    </div>
  </div>
  <div class="pane details">
    <div class="left">
      <p class="title">
        {{f.int8n.f_title}}
      </p>
      <p class="s-no">
        <small>{{f.int8n.serie}}</small>{{f.bill.series}}<small>{{f.int8n.numar}}</small>{{f.bill.number}}
      </p>
      <p class="date">
        <small>{{f.int8n.data}}</small>{{f.bill.date | date:'yyyy-MM-dd'}}
      </p>
    </div>
    <div class="right">
        <span class="total">
          {{f.int8n.total}}
        </span>
        <span class="worth">
          {{f.bill.total + ' ' + f.bill.currency}}
        </span>
    </div>
  </div>
</div>
<div class="table">
  <div class="tab">
    <div ng-repeat="task in f.bill.columns"
         ng-style="f.getWidth($index)">
      {{task}}
    </div>
  </div>
  <div class="prod-row" ng-repeat="prod in f.bill.products">
    <div class="name">
      <p class="title">{{prod.title}}</p>
      <p class="desc">{{prod.desc}}</p>
    </div>
    <div ng-repeat="line in prod.lines" ng-style="f.getLineWidth($index)">
      {{line + ' ' + f.bill.currency}}</div>
  </div>
</div>
<div class="jos">
  <div class="foot">
    <div class="left">
      <span class="sign">
        {{f.int8n.sign}}
      </span>
    </div>
    <div class="right">
        <span class="total">
          {{f.int8n.total}}
        </span>
        <span class="worth">
          {{f.bill.total + ' ' + f.bill.currency}}
        </span>
    </div>
    <p class="disclaimer">{{f.int8n.disclaimer}}</p>
  </div>
  <div class="dets">
    <div class="l">
      {{f.int8n.emitter.text}}
    </div>
    <div class="m">
      <p>{{f.int8n.emitter.name}}</p>
      <p>{{f.int8n.emitter.email}}</p>
      <p>{{f.int8n.emitter.cnp}}</p>
    </div>
    <img src="images/logomic.png" class="r">
    </img>
  </div>
</div>
